.App {
  text-align: none;
  font-family: "Quicksand", sans-serif;
  overflow: hidden;
  user-select: none;
}

html{
  scroll-behavior: smooth;
}

body {
  background-color: rgb(223, 223, 223);
}

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap");

.navbar{
  position: fixed;
  height: 10vmin;
  width: 100%;
  background-color: rgb(223, 223, 223);
  z-index: 5;
  transition: 0.5s;
}

.navbar-items{
  width: 50%;
  height: 100%;
  display: flex;
  margin-left: 35%;
  justify-content: space-between;
}

.navbar-item{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 3vmin;
  color: black;
  transition: 0.3s;
}

.navbar-item:hover{
  color: rgb(0, 255, 170);
  cursor:pointer;
}

.scroll{
  display: block;
  position: relative;
  width: 8vmin;
  margin: auto;
  top: 85vh;
  filter: opacity(0.8);
}

.scroll:hover{
  filter:opacity(1);
}

#container1 {
  position: relative;
  height: 100vh;
  background-color: rgb(223, 223, 223);
  width: 80%;
  left: 10%;
}

#container2 {
  height: auto;
  padding-bottom: 10vmin;
  background-color: rgb(199, 199, 199);
  background-size: cover;

}

#container3 {
  position: relative;
  height: auto;
  padding-bottom: 10vmin;
  background-color: rgb(223, 223, 223);
  background-size: cover;
}

#container4 {
  position: relative;
  height: auto;
  background-color: rgb(199, 199, 199);
  background-size: cover;
  background-repeat: no-repeat;
}

#container5 {
  height: 120vh;
  background-color: rgb(223, 223, 223);
}

.bottom-bar {
  height: 15vh;
  background-color: rgb(255, 255, 255);
  margin-top: -40px;
}

.profile-photo {
  position: absolute;
  width: 55vh;
  height: 55vh;
  right: 0;
  top: 22vh;
  filter: opacity(0);
  animation: 2s fadeOn alternate forwards;
}

.profile-photo-fade {
  position: absolute;
  width: 55vh;
  height: 55vh;
  right: 0;
  top: 22vh;
  background: linear-gradient(
    to top,
    rgb(223, 223, 223),
    rgba(223, 223, 223, 0) 60%
  );
}

@keyframes fadeOn {
  0% {
    filter: opacity(0);
  }
  100% {
    filter: opacity(1);
  }
}

.text-wrapper {
  position: absolute;
  margin-top: 25vh;
  width: 40%;
  z-index: 2;
  margin-left: 2vmax;
}

@keyframes slideUp {
  0% {
    filter: opacity(0);
    top: 8vmin;
  }
  100% {
    filter: opacity(1);
    top: 0vmin;
  }
}

.large {
  position: relative;
  font-size: 4.2vmax;
  margin-top: 1vmin;
  margin-bottom: 1vmin;
  padding: 0;
  top: 8vmin;
  animation: 1s slideUp alternate forwards;
  animation-delay: 1s;
  color: rgb(255, 255, 255);
  filter: opacity(0);
}

.medium {
  position: relative;
  font-size: 1.3vmax;
  font-weight: 100;
  letter-spacing: 0.1vw;
  margin: 0;
  padding: 0;
  top: 8vmin;
  animation: 1s slideUp alternate forwards;
  animation-delay: 1s;
  filter: opacity(0);
}

.small {
  position: relative;
  font-weight: 400;
  font-size: 1.3vmax;
  letter-spacing: 0.1vmin;
  top: 8vmin;
  animation: 1s slideUp alternate forwards;
  animation-delay: 1s;
  filter: opacity(0);
  text-align: justify;
}

.slide-header {
  margin: 0;
  font-size: 2.5vw;
  font-weight: 400;
  margin-left: 2vmin;
  color: rgb(0, 0, 0);
}

.slide-footer {
  margin: 0;
  font-size: 1.3vw;
  font-weight: 100;
  margin-left: 2vmin;
  color: rgb(0, 0, 0);
}

.more {
  width: max-content;
  transition: 0.2s;
  color: black;
}

.more:hover {
  color: rgb(0, 255, 170);
  transition: 0.2s;
  cursor: pointer;
}

.slide-down {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: max-content;
  font-size: 4vmin;
  font-weight: 500;
  color: white;
  top: 94%;
  animation: slideDown 2s infinite;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

.slide-down:hover {
  color: rgb(99, 99, 99);
}

.header {
  position: relative;
  font-size: 4.2vmax;
  color: white;
  font-weight: 700;
  text-align: center;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  padding-top: 15vmin;
  padding-bottom: 10vmin;
}

.black {
  color: black;
  filter: drop-shadow(0px 0px 3px rgb(255, 255, 255));
}

.bottom-bar-text {
  position: relative;
  text-align: center;
  font-size: 1vmax;
  font-weight: 400;
  letter-spacing: 0.2vmin;
  top: 50%;
  transform: translate(0%, -50%);
}

.project-wrapper {
  position: relative;
  width: 80%;
  margin: auto;
  background-color: rgb(233, 233, 233);
  filter: drop-shadow(2px 2px 15px rgb(163, 163, 163));
  padding: 3vmin;
  border-radius: 3vmin;

}

.project-hover{
  position: relative;
  transition: 0.5s;
  width: 47%;
  display: inline-block;
  margin-left: 1.5%;
  margin-right: 1.5%;
  top: 0px;
}

.project-hover:hover{
  transition: 0.5s;
  filter:drop-shadow(2px 2px 15px rgb(88, 88, 88));
  top: -15px;
}

.project {
  position: relative;
  width: 100%;
  height: 75%;
  background-color: rgba(255, 255, 255, 0.253);
  background-size: cover;
  outline: 0px;
  border: 0px;
}

.project-slide {
  position: relative;
  display: inline-block;
  height: 400px;
  width: 100%;
  margin: 1vw;
  background-color: rgb(255, 255, 255);
  color: white;
}


.website0 {
  background-image: url("./website0.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.website1 {
  background-image: url("./website1.png");
  background-size: cover;

}

.website2 {
  background-image: url("./website2.png");
  background-size: cover;

}


.website3 {
  background-image: url("./website3.jpg");
  background-size: cover;

}

.website4 {
  background-image: url("./website4.png");
  background-size: cover;

}

.website5 {
  background-image: url("./website5.jpg");
  background-size: cover;
}

.website6 {
  background-image: url("./website6.png");
  background-size: cover;
}

.website7 {
  background-image: url("./website7.png");
  background-size: cover;
}

.website8 {
  background-image: url("./website8.png");
  background-size: cover;
}

.website10 {
  background-image: url("./website10.png");
  background-size: cover;
  background-position-x: center;

}

.website9 {
  background-image: url("./website9.png");
  background-size: cover;
  background-position-x: center;

}

.website11 {
  background-image: url("./website11.png");
  background-size: cover;
  background-position-x: center;

}

.website12 {
  background-image: url("./website12.png");
  background-size: cover;
  background-position-x: center;

}

.website13 {
  background-image: url("./website13.png");
  background-size: cover;
  background-position-x: center;

}

.service-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 80%;
  left: 10%;
  margin-top: 5vh;
  padding: 3vmin;
  padding-bottom: 8vmin;
  padding-top: 8vmin;
  filter: drop-shadow(2px 2px 15px rgb(163, 163, 163));
}

.service{
  width: 30%;
  padding-top: 2%;
  padding-bottom: 2%;
  display: inline-block;
  background-color: rgb(233, 233, 233);
  transition: 0.4s;
  border-radius: 3vmin;
}

.service:hover{
  transform: scale(1.1);
}

.service-title {
  position: relative;
  margin: auto;
  width: 75%;
}

.service-description {
  position: relative;
  text-align: center;
  font-size: 2.6vmin;
  width: 60%;
  margin: auto;
  padding: 4vmin;
  margin-top: 3vw;
  color: rgb(0, 0, 0);
  background-repeat: no-repeat;
  background-position: top;
  filter: drop-shadow(0px 0px 50px rgb(255, 255, 255));
  transition: 0.5s;
  border-radius: 1vmin;
}

.skill-wrapper {
  position: relative;
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content:space-evenly;
  width: 80%;
  margin: auto;
  background-color: rgb(233, 233, 233);
  filter: drop-shadow(2px 2px 15px rgb(163, 163, 163));
  padding: 5vmin;
  border-radius: 3vmin;


}

.skill {
  position: relative;
  display: inline-grid;
  width: 15%;
  margin-bottom: 1%;
  height: 25vmin;
  text-align: center;
  font-weight: 900;
  color: rgb(0, 0, 0);
  filter:drop-shadow(0px 0px 5px rgb(185, 185, 185));
  transition: 0.5s;
  top: -0px;
}

.skill:hover{
  transition: 0.5s;
  transform: scale(1.1);
}

.tech-icon{
  width: 80%;
  display: block;
  margin: auto;
  border-radius: 0%;
}

.skill-description {
  position: relative;
  top: 0%;
  left: 5%;
  width: 90%;
  font-size: 1vmax;
  font-weight: 400;
  letter-spacing: 0;
  font-size: 1.8vmin;
  vertical-align: top;
}

.skill-title {
  background: linear-gradient(to top, rgb(0, 255, 191), rgb(0, 255, 106));
  height:fit-content;
  line-height: 5vmin;
  color: rgb(0, 0, 0);
}


.contact-wrapper {
  width: 30%;
  margin: auto;
  margin-top: 12vmin;
  padding: 5vmin;
  padding-top: 10vmin;
  padding-bottom: 10vmin;
  box-shadow: 2px 2px 15px rgb(177, 177, 177);
  background-color: rgb(245, 245, 245);
  display: flex;
  border-radius: 3vmin;

}

.contact {
  display: block;
  margin: auto;
  width: 20vmin;
  transition: 0.3s;

}

.contact:hover {
  transform: scale(1.2);
}

.navbar-icon{
  display: none;
}


@media only screen and (max-device-width: 1200px), (max-width: 1200px) {
  .skill {
    width: 18%;
  }
}

@media only screen and (max-device-width: 800px), (max-width: 800px) {
  .skill {
    width: 30%;
  }
}

@media only screen and (max-device-width: 600px), (max-width: 600px) {
  
  .text-wrapper {
    position: relative;
    width: 90%;
    z-index: 2;
    margin-left: 2vmax;
    margin-top: 2vmin;
  }

  .medium {
  font-size: 3vmin;
  }

  .large {
    width: 100%;
  }

  .profile-photo {
    position: relative;
    width: 100%;
    right: 0%;
    height: auto;
    top: 0;
    filter: opacity(0);
    animation: 2s fadeOn alternate forwards;
    border-bottom: 3px solid rgb(209, 209, 209);
  }
  .profile-photo-fade {
    display: none;
  }

  .header {
    font-size: 12vmin;
    padding-top: 10vmin;
  }

  .project-wrapper {
    width: 90%;
  }

  .project-slide {
    width: 100%;
    height: 275px;
  }

  .slide-header {
    font-size: 6vmin;
  }
  
  .slide-footer {
    font-size: 3vmin;
  }

  #container1 {
    width: 90%;
    left: 5%;
    height: fit-content;
    padding-bottom: 50px;
    margin-top: 10vh;
  }

  #container2 {
    height: fit-content;
    padding-bottom: 50px;
  }

  #container3 {
    height: fit-content;
    padding-bottom: 50px;
  }

  #container5 {
    height: 100vh;
    background-color: rgb(223, 223, 223);
  }

  .slide-down {
    top: 94%;
    z-index: 1;
    font-size: 7vmin;
  }

  .skill-wrapper {
    padding-left: 2vmin;
    padding-right: 2vmin;
    width: 90%;
  }

  .skill {
    width: 46%;
    font-size: 3.5vmin;
    margin-bottom: 4vmin;
    height: 40vmin;
  }

  .skill-description {
    font-size: 3.5vmin;
  }

  .skill-title {
    line-height: 4vmin;
    padding-top: 1vmin;
    padding-bottom: 1vmin;
  }

  .service-wrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 0vh;
    padding-left: 0;
    padding-right: 0;
  }

  .service {
    width: 100%;
    margin-bottom: 2vmin;
  }

  .service:hover{
    transform: scale(1);
  }

  .service-title{
    position: relative;
    left: 15%;
    width: 70%;
    font-size: 7.5vmin;
    margin: 0;
    margin-top: 7vmin;

  }

  .service-description{
    width: 60%;
    font-size: 5vmin;
  }

  .contact {
    width: 25%;
    margin-bottom: 8vmin;
  }

  .bottom-bar-text {
    font-size: 4vmin;
  }

  .small{
    font-size: 4vmin;
  }
  
  .project-hover{
    transition: 0.3s;
    width: 95%;
    display: inline-block;
    margin-left: 1.5%;
    margin-right: 1.5%;
  }
  
  .project-hover:hover{
    transform: scale(1);
    transition: 0.3s;
  }

  .contact-wrapper{
    width: 80%;
    padding: 2vmin;
    flex-direction: column;
  }

  .navbar{
    position: fixed;
    width: 100%;
    height: 10vh;
    background-color: rgb(255, 255, 255);
    z-index: 5;
    transition: 1s;
  }
  
  .navbar-items{
    width: 90%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-bottom: 40vh;
    padding-top: 10vh;
    justify-content: space-between;
    background-color: white;
    margin-left: 0%;

  }

  .navbar-item{
    position: relative;
    top: 0%;
    font-size: 7vmin;
    color: black;
  }

  .navbar-icon{
    position: absolute;
    width: fit-content;
    height: 80%;
    top: 1vh;
    right: 5%;
    float: right;
    display: block;
  }

  .scroll{
    display: block;
    position: relative;
    width: 15vmin;
    margin: auto;
    top: 3vh;
    filter: opacity(1);
  }

}
