.App {
  text-align: none;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  overflow: hidden;
}

body{
  background-color: rgb(190, 190, 190);
}


.container1{
  position: relative;
  height: 120vh;
  background-color: rgb(190, 190, 190);
}

.container2{
  height: 140vh;
  background-color: rgb(190, 190, 190);
  background-image: url("container2.png");
  background-size: cover;
}

.container3{
  position: relative;
  height: 140vh;
  background-image: url("container3.png");
  background-size: cover;
  margin-top: -90px;
}

.container4{
  position: relative;
  height: 140vh;
  background-color: rgb(197, 167, 238);
  background-image: url("container3-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -240px;
  z-index: -1;
}

.container5{
  height: 140vh;
  background-color: rgb(197, 167, 238);
  margin-top: -10px;
}

.bottom-bar{
  height: 15vh;
  background-color: rgb(255, 255, 255);
  margin-top: -40px;
}

.profile-photo{
  position: absolute;
  width: 80vh;
  height: 80vh;
  right: 0vmax;
  top: 5vmax;
  filter: opacity(0);
  animation: 8s fadeOn alternate forwards;
  user-select: none;
}

.profile-photo-fade{
  position: absolute;
  width: 80vh;
  height: 80vh;
  right: 0vmax;
  top: 5vmax;
  background: linear-gradient(to top, rgb(190, 190, 190), rgba(190, 190, 190, 0.0) 60%);
  user-select: none;
}

@keyframes fadeOn{
  0% {filter: opacity(0.0);
      }
  100% {filter: opacity(1);
      }
}

.text-wrapper{
  position: absolute;
  margin-top: 25vh;
  width: 40%;
  z-index: 2;
  margin-left: 2vmax;
  user-select: none;
}

@keyframes slideUp{
  0% {top: 8vmin;}
  100% {top: 0vmin;}
}

.large{
  position: relative;
  font-size: 4.2vmax;
  margin-top: 1vmin;
  margin-bottom: 1vmin;
  padding: 0;
  top: 15vmin;
  animation: 2s slideUp alternate forwards;
  animation-delay: 0.0s;
  color: rgb(255, 255, 255);
  filter: drop-shadow(0px 0px 2px rgb(0, 0, 0));
}

.medium{
  position: relative;
  font-size: 1.3vmax;
  font-weight: 100;
  letter-spacing: 0.5vw;
  margin: 0;
  padding: 0;
  top: 15vmin;
  animation: 2s slideUp alternate forwards;
  animation-delay: 0.0s;
}

.small{
  position: relative;
  font-weight: 400;
  letter-spacing: 0.2vmin;
  top: 15vmin;
  animation: 2s slideUp alternate forwards;
  animation-delay: 0.0s;
}

.medium-slide{
  margin: 0;
  font-size: 1.5vmax;
  font-weight: 400;
  margin-left: 2vmin;
  color:rgb(255, 255, 255);
  filter: drop-shadow(0px 0px 2px rgb(0, 0, 0));
}

.small-slide{
  margin: 0;
  font-size: 0.9vmax;
  font-weight: 100;
  margin-left: 2vmin;
  color:rgb(231, 231, 231);
  filter: drop-shadow(0px 0px 2px rgb(0, 0, 0));
}

.more{
  width: max-content;
  transition: 0.5s;
  border-bottom: 2px solid rgb(230, 230, 230);
  background-color: white;
}

.more:hover{
  background-color: black;
  color: white;
  transition: 0.5s;
  cursor: pointer;
}

.slide-down{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: max-content;
  font-size: 2vmax;
  font-weight: 500;
  color: white;
  top: 92vh;
  animation: slideDown 2s infinite;
}

@keyframes slideDown{
  0%{filter: opacity(0.2);}
  50%{filter: opacity(1);}
  100%{filter: opacity(0.2);}
}

.header{
  position: relative;
  font-size: 4.2vmax;
  color: white;
  font-weight: 700;
  text-align: center;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  padding-top: 10vmin;
  padding-bottom: 10vmin;
  filter: drop-shadow(0px 0px 1px black) drop-shadow(0px 0px 1px black);
}

.header-lower{
  padding-top: 30vmin;
}

.black{
  color: black;
  filter: drop-shadow(0px 0px 3px rgb(255, 255, 255));
}

.bottom-bar-text{
  position: relative;
  text-align: center;
  font-size: 1vmax;
  font-weight: 400;
  letter-spacing: 0.2vmin;
  top: 50%;
  transform: translate(0%, -50%);
}

.project-wrapper{
  position: relative;
  width: 100vw;
  margin: auto;
}

.project{
  position: relative;
  width: 31vw;
  height: 17vw;
  background-color: rgb(0, 0, 0);
  background-size: cover;
}

.project-slide{
  position: relative;
  display: inline-block;
  height: 21vw;
  width: 31vw;
  margin: 1vw;
  background-color: rgba(68, 68, 68, 0.8);
  outline: 5px solid rgba(151, 151, 151, 0.548);
  color: white;
  box-shadow: 0px 0px 20px black, 0px 0px 20px black, 0px 0px 20px black, 0px 0px 20px black;
}

.project-slide:hover{
  background-color: rgb(128, 128, 128);
}

.website1{
  background-image: url("./website1.jpg");
}

.website1:hover{
  background-image: url("./website1.gif");
}

.website2{
  background-image: url("./website2.jpg");
}

.website2:hover{
  background-image: url("./website2.gif");
}

.website3{
  background-image: url("./website3.jpg");
}

.website4{
  background-image: url("./website4.jpg");
}

.focus-wrapper{
  position: relative;
  width: 100vw;
  margin: auto;
  margin-top: 10vh;
}

.focus{
  position: relative;
  display: inline-block;
  width: 31vw;
  height: 5vw;
  margin: 1vw;
  color: white;
  text-align: center;
}

.focus-description{
  position: relative;
  display: inline-block;
  text-align: center;
  width: 20vw;
  margin: 6.5vw;
  color: white;
}

.skill-wrapper{
  position: relative;
  width: 100%;
  margin: auto;
  margin-top: 15vh;
}

.skill{
  position: relative;
  display: inline-grid;
  width: 18%;
  height: 12vw;
  margin: 1%;
  text-align: center;
  letter-spacing: 0.2vmin;
  font-weight: 900;
  font-size: 1.4vmax;
  box-shadow: 2px 2px 30px rgb(0, 0, 0);
  color: rgb(245, 245, 245);
  border-radius: 10px;
}

.skill span{
  filter: drop-shadow(2px 2px 1px rgb(0, 0, 0));
}

.skill-description{
  position: absolute;
  left: 0%;
  right: 0%;
  margin-top: 8vmin;
  font-size: 1.1vmax;
  font-weight: 400;
  letter-spacing: 0;
  color: rgb(255, 255, 255);
  filter: drop-shadow(2px 2px 1px black);
}

.skill-title{
  background-color: rgb(0, 0, 0);
  height: max-content;
}

.blue{
  background-color: rgba(0, 119, 255, 0.3);
  color:rgba(0, 119, 255, 1);
}

.blue:hover{
  background-color: rgba(0, 119, 255, 0.8);
}

.violet{
  background-color: rgba(255, 0, 255, 0.3);
  color: rgba(255, 0, 255, 1);
}

.violet:hover{
  background-color: rgba(255, 0, 255, 0.8);
}

.red{
  background-color: rgba(255, 0, 0, 0.3);
  color: rgba(255, 0, 0, 1);
}

.red:hover{
  background-color: rgba(255, 0, 0, 0.8);
}

@media (max-device-width:600px)  {

  .text-wrapper{
    position: absolute;
    margin-top: 60vh;
    width: 90%;
    z-index: 2;
    margin-left: 2vmax;
  }

  .large{
    width: 80%;
  }

  .profile-photo{
    position: absolute;
    width: 125%;
    height: auto;
    right: -12.5%;
    top: 10vmax;
    filter: opacity(0);
    animation: 2s fadeOn alternate forwards;
  }
  .profile-photo-fade{
    position: absolute;
    width: 125vw;
    height: 112.5vw;
    right: 0vmax;
    top: 10vmax;
  }

}