@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

body {
  position: relative;
  background: radial-gradient(rgb(24, 206, 0) 0%, rgb(0, 0, 0) 49.9%, rgb(30, 255, 0) 50.1%, rgb(0, 0, 0) 58%);
  font-family: "Oswald", sans-serif;
  background-size: 120% 200%;
  background-position: -20% 50%;
  background-attachment: fixed;
  animation: 20s backgroundBody infinite ease;
}

@keyframes backgroundBody {
  0% {
    background-position: 30% 50%;
  }
  50% {
    background-position: 70% 50%;
  }
  100% {
    background-position: 30% 50%;
  }
}

html {
  scroll-behavior: smooth;
}

.navbar {
  position: fixed;
  height: 8vh;
  width: 100%;
  background-color: rgba(167, 0, 201, 0);
  z-index: 200;
  transition: 0.5s;
  filter: opacity(0.5);
}

.navbar:hover {
  background-color: rgb(50, 175, 0);
  filter: opacity(1);
}

.navbar__items {
  width: 50%;
  height: 100%;
  display: flex;
  margin: auto;
  justify-content: space-between;
}

.navbar__link {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 3vmin;
  color: rgb(255, 255, 255);
}

.navbar__link:hover {
  color: rgb(182, 182, 182);
  cursor: pointer;
}

.scroll:hover {
  filter: opacity(1);
}

#container1 {
  position: relative;
  height: 100vh;
  width: 100%;
  background-position: 50% 50%;
  animation: 20s background infinite alternate;
}

@keyframes background {
  0% {
    background-size: 165% 300%;
  }
  95% {
    background-size: 35% 64%;
  }
  100% {
    background-size: 35% 64%;
  }
}

#container2 {
  position: relative;
  height: fit-content;
  padding-top: 15vmin;
  padding-bottom: 15vmin;
  transition: 1s;
  overflow: hidden;
}

#container3 {
  height: 100vh;
  padding-bottom: 10vmin;
  transition: 1s;
}

#container4 {
  position: relative;
  height: 100vh;
  padding-bottom: 10vmin;
  background-size: cover;
  background-position-y: 70%;
  background-color: rgba(182, 182, 182, 0);
}

#container5 {
  position: relative;
  height: fit-content;
}

#container6 {
  position: relative;
  height: 100vh;
}

.bottom-bar {
  position: relative;
  bottom: 0;
  height: fit-content;
  background-color: rgb(0, 0, 0);
  padding-bottom: 2vmin;
  z-index: 1000;
}

.name-wrapper {
  position: relative;
  top: 28vh;
  margin: auto;
  width: 44%;
  z-index: 2;
  transition: 0.2s;
  text-align: center;
  color: rgb(255, 255, 255);
}

@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

.name-wrapper__large {
  position: relative;
  font-size: 10vmin;
  font-family: "Lobster", cursive;
  margin-top: 3vmin;
  margin-bottom: 3vmin;
  top: 8vmin;
  color: rgb(255, 255, 255);
  border-radius: 3vmin;
  text-shadow: 0px 0px 15px rgb(9, 255, 0), 0px 0px 35px rgb(9, 255, 0);
  animation: 2s;
  transition: 2s;
  cursor: pointer;
  transform: translate(20%);
}

.name-wrapper__medium {
  position: relative;
  font-family: "Lobster", cursive;
  font-size: 5vmin;
  font-weight: 100;
  letter-spacing: 0.1vw;
  margin: 0;
  padding: 0;
  top: 8vmin;
  filter: opacity(1);
  z-index: 100;
  transition: 2s;
  transform: translate(-20%);
}

.name-wrapper__small {
  position: relative;
  font-weight: 400;
  font-size: 3vmin;
  letter-spacing: 0.1vmin;
  top: 8vmin;
  filter: opacity(1);
  z-index: 100;
  transition: 2s;
  transform: translate(-10%);
}

.slide-header {
  margin: 0;
  font-size: 3.5vmin;
  font-weight: 400;
  margin-left: 2vmin;
  color: rgb(0, 0, 0);
}

.slide-footer {
  margin: 0;
  font-size: 2vmin;
  font-weight: 100;
  margin-left: 2vmin;
  color: rgb(0, 0, 0);
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

.header {
  position: relative;
  font-size: 6vmin;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
  font-weight: 500;
  text-align: center;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  padding-top: 12vmin;
  margin-bottom: 5vmin;
  z-index: 100;
}

.header-medium {
  font-size: 4vmin;
}

.black {
  color: black;
}

.bottom-bar-text {
  color: white;
  position: relative;
  text-align: center;
  font-size: 1vmax;
  font-weight: 400;
  letter-spacing: 0.2vmin;
}

.project-wrapper {
  position: relative;
  width: 45%;
  margin-top: 5%;
  margin-left: 10%;
  transition: 1s;
  border-radius: 2vmin;
  filter: drop-shadow(0px 0px 10px rgb(132, 0, 255)) drop-shadow(0px 0px 30px rgb(132, 0, 255)) drop-shadow(0px 0px 80px rgb(132, 0, 255));
  transform: translateY(50%);
  transition: 1s;
}

.service-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 70%;
  left: 15%;
  margin-top: 5vh;
  padding: 3vmin;
  padding-bottom: 8vmin;
  padding-top: 8vmin;
  transition: 1s;
}

.service {
  width: 30%;
  padding-top: 2%;
  padding-bottom: 2%;
  display: inline-block;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
  border-radius: 10%;
  background-color: rgba(255, 0, 221, 0.15);
  border: 2px solid rgb(255, 0, 221);
  transition: 0.5s;
  animation: 10s service-color linear infinite;
  box-shadow: 0px 0px 150px rgb(255, 0, 221);
}

.service:nth-child(2n) {
  animation-delay: 1s;
}

.service:nth-child(3n) {
  animation-delay: 2s;
}

@keyframes service-color {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

.service-title {
  position: relative;
  margin: auto;
  width: 75%;
}

.service-description {
  position: relative;
  text-align: center;
  font-size: 2.6vmin;
  width: 80%;
  margin: auto;
  margin-top: 3vw;
  background-repeat: no-repeat;
  background-position: top;
  filter: drop-shadow(0px 0px 30px rgb(255, 255, 255));
  transition: 0.5s;
  border-radius: 1vmin;
}

.skills {
  transition: 1s;
}

.skill-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin: auto;
  padding: 5vmin;
  border-radius: 3vmin;
  transition: 1s;
}

.skill {
  position: relative;
  display: inline-grid;
  width: 9vmin;
  height: 9vmin;
  text-align: center;
  font-weight: 900;
  color: rgb(0, 0, 0);
  margin: 1vmin;
  overflow: hidden;
  background-color: rgba(0, 247, 255, 0.1);
  filter: drop-shadow(0px 0px 10px rgb(0, 206, 233));
  animation: 1s;
  border-radius: 100vmin;
}

.skill:nth-child(2n) {
  transform: translateY(20%);
}

.skill:hover {
  background-color: rgba(0, 247, 255, 0.2);
}

.tech-icon {
  width: 100%;
  display: block;
  margin: auto;
}

.service-icon {
  width: 60%;
  display: block;
  margin: auto;
}

.contact-wrapper {
  width: 50%;
  margin: auto;
  padding: 5vmin;
  padding-top: 2vmin;
  padding-bottom: 2vmin;
  display: flex;
  border-radius: 3vmin;
}

.contact {
  display: block;
  margin: auto;
  margin-top: 3vmin;
  margin-bottom: 3vmin;
}

.contact:hover {
  filter: brightness(1.2);
}

.contact-icon {
  width: 30%;
  display: block;
  margin: auto;
  border-radius: 0%;
  background-color: black;
  border-radius: 2vmin;
}

.navbar-icon {
  display: none;
}

.scroll-container {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  top: 88%;
  z-index: 1000;
}

.scroll-button {
  width: 4vmin;
  margin-left: 1vmin;
  margin-right: 1vmin;
  transition: 0.3s;
}

.scroll-button:hover {
  transform: scale(1.3);
}

.carousel-control-next,
.carousel-control-prev {
  height: 20%;
  width: 10%;
  top: 78%;
  background-color: rgba(18, 216, 0, 0.5);
  transition: 0.3s;
}

.carousel-control-next:hover,
.carousel-control-prev:hover {
  background-color: rgba(18, 216, 0, 0.8);
}

.carousel-inner {
  overflow: visible;
}

.carousel-caption {
  color: rgb(255, 255, 255) !important;
  background-color: black;
  border-radius: 3vmin;
}

.carousel-text {
  position: absolute;
  top: 0%;
  left: 102%;
  background-color: rgb(61, 61, 61);
  color: white !important;
  z-index: 100;
  width: 50vmin;
  padding: 2vmin;
}

.text-green {
  color: rgb(40, 228, 15) !important;
}

.carousel-link {
  color: rgb(28, 243, 0) !important;
}

.carousel-link:hover {
  color: rgb(101, 255, 101) !important;
}

.twitter {
  width: 80%;
  display: block;
  position: relative;
  border-radius: 3vmin;
  box-shadow: 0px 0px 30px rgb(0, 255, 0);
}

@media only screen and (max-device-width: 600px), (max-width: 600px) {
  .twitter {
    width: 100% !important;
    top: 0%;
    margin-bottom: 5vmin;
  }

  .carousel-inner {
    height: 60vh;
  }

  .carousel-caption {
    position: relative;
    width: 80% !important;
    top: 0;
    left: 0;
    right: 0;
  }

  .carousel-control-next,
  .carousel-control-prev {
    height: 20%;
    top: 22%;
  }

  body {
    background: linear-gradient(to right, rgb(21, 255, 0), rgb(7, 44, 0));
    background-attachment: scroll;
  }

  .name-wrapper {
    position: relative;
    display: block;
    width: 90%;
    z-index: 2;
    margin: auto;
    top: 40vmin;
  }

  .large {
    font-size: 18vmin;
    width: 100%;
    margin-top: 5vmin;
    margin-bottom: 5vmin;
  }

  .medium {
    font-size: 9vmin;
  }

  .small {
    font-size: 5.5vmin;
  }

  .header {
    font-size: 12vmin;
    padding-top: 10vmin;
  }

  .header-medium {
    font-size: 6vmin;
  }

  .slide-header {
    font-size: 5vmin;
  }

  .slide-footer {
    font-size: 3.5vmin;
  }

  #container1 {
    left: 0%;
    height: 95vh;
    background: radial-gradient(rgb(0, 0, 0) 42%, rgb(0, 216, 11) 49.9%, rgb(0, 0, 0) 50.1%);
    background-position: 50% 5%;
    animation: 12s background infinite alternate;
  }

  @keyframes background {
    0% {
      background-size: 180% 100%;
    }
    100% {
      background-size: 45% 25%;
    }
  }

  #container3 {
    height: 115vh;
    background-size: cover;
  }

  #container4 {
    height: 70vh;
    background-size: cover;
  }

  #container5 {
    height: auto;
  }

  .slide-down {
    top: 94%;
    z-index: 1;
    font-size: 7vmin;
  }

  .skill-wrapper {
    padding-left: 2vmin;
    padding-right: 2vmin;
    width: 90%;
  }

  .skill {
    width: 14%;
    height: unset;
  }

  .skill-title {
    line-height: 4vmin;
    padding-top: 1vmin;
    padding-bottom: 1vmin;
  }

  .service-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 0vh;
    padding-left: 0;
    padding-right: 0;
  }

  .service {
    width: 100%;
    margin-bottom: 12vmin;
  }

  .service:hover {
    transform: scale(1);
  }

  .service-title {
    position: relative;
    left: 15%;
    width: 70%;
    font-size: 7.5vmin;
    margin: 0;
    margin-top: 7vmin;
  }

  .service-description {
    width: 80%;
    font-size: 5vmin;
    padding-bottom: 2vmin;
  }

  .bottom-bar-text {
    font-size: 4vmin;
  }

  .project-hover {
    transition: 0.3s;
    width: 95%;
    display: inline-block;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-bottom: 15vmin;
  }

  .project-hover:hover {
    transform: scale(1);
    transition: 0.3s;
  }

  .contact-wrapper {
    width: 80%;
    padding: 2vmin;
    flex-wrap: wrap;
    margin-top: 0;
  }

  .navbar {
    position: fixed;
    width: 100%;
    height: 10vh;
    z-index: 5;
    transition: 1s;
    padding: 0;
  }

  .navbar__items {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    padding-left: 5vmin;
    justify-content: space-evenly;
    background-color: rgb(0, 0, 0);
    margin-left: 0%;
    top: 0%;
  }

  .navbar__link {
    position: relative;
    font-size: 8vmin;
    color: rgb(255, 255, 255);
  }

  .navbar-icon {
    position: absolute;
    height: 80%;
    top: 1vh;
    right: 5%;
    float: right;
    display: block;
  }

  .scroll {
    display: block;
    position: relative;
    width: 15vmin;
    margin: auto;
    padding-bottom: 10vmin;
    top: 40vh;
    filter: brightness(0);
  }

  .wallpaper {
    height: 100%;
  }

  .part {
    width: 20%;
    background: url("wallpaper1.gif");
    background-size: 2000% 100%;
  }

  .part1 {
    background-position-x: 25%;
  }

  .tech-icon {
    display: block;
    margin: auto;
    border-radius: 0%;
  }

  .service-icon {
    width: 40%;
    display: block;
    margin: auto;
    border-radius: 0%;
  }

  .contact {
    width: 15%;
    margin-top: 1vmin;
    margin-bottom: 5vmin;
  }

  .contact-icon {
    width: 70%;
    display: block;
    margin: auto;
    border-radius: 0%;
    background-color: black;
    padding: 0;
    border-radius: 2vmin;
  }

  .bottom-bar {
    height: fit-content;
    background-color: rgb(0, 0, 0);
  }

  .scroll-container {
    display: none;
  }

  .project-wrapper {
    position: relative;
    width: 85%;
    margin-top: 10%;
    margin-left: 7.5%;
    transition: 1s;
    border-radius: 2vmin;
    filter: drop-shadow(0px 0px 10px rgb(132, 0, 255)) drop-shadow(0px 0px 30px rgb(132, 0, 255)) drop-shadow(0px 0px 80px rgb(132, 0, 255));
    transform: translateY(50%);
    transition: 1s;
  }

  .carousel-text {
    position: absolute;
    top: 107%;
    left: 0%;
    background-color: rgb(61, 61, 61);
    color: white !important;
    width: 85vw;
    height: fit-content;
    padding: 2vmin;
    font-size: 0.9rem;
  }

  .wm-100 {
    width: 100% !important;
  }
}
