.App {
  text-align: center;
}


.container1{
  height: 100vmin;
  background-color: rgb(192, 192, 192);
}

.container2{
  height: 100vmin;
  background-color: rgb(255, 255, 255);
}

.container3{
  height: 100vmin;
  background-color: rgb(192, 192, 192);
}

.container4{
  height: 100vmin;
  background-color: rgb(255, 255, 255);
}

.profile-photo{
  position: absolute;
  width: 50vmax;
  height: 30vmax;
  left: 25vmax;
}
.profile-photo-fade{
  position: absolute;
  width: 50vmax;
  height: 37.5vmax;
  left: 25vmax;
  background: linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0));
}