.App {
  text-align: center;
}


.container1{
  height: 100vmin;
  background-color: rgb(192, 192, 192);
}

.container2{
  height: 100vmin;
  background-color: rgb(255, 255, 255);
}

.container3{
  height: 100vmin;
  background-color: rgb(192, 192, 192);
}

.container4{
  height: 100vmin;
  background-color: rgb(255, 255, 255);
}
